<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deputies</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="style/style.css">
</head>
<body bgcolor="#e8fbff">
	<header>
		<nav>
			<ul>
				<li><a href="index.html">Main</a></li>
				<li><a href="factions.html">Factions</a></li>
				<li><a href="#" class="current">Deputies</a></li>
			</ul>
		</nav>
		<h1><i>Страница депутата ИМЯ</i></h1>
	</header>
    <div class="info">
	    <div>Явка в процентах и числах</div>
	    <div>ЗА/ПРОТИВ/ВОЗДЕРЖАЛСЯ</div>
	    <div>ФРАКЦИЯ</div>
	    <div>Уровень согласия со своей партией, общий уровень оппозиционности</div>
    </div>
</body>
</html>