<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Factions</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="style/style.css">
</head>
<body bgcolor="#e8fbff">
	<header>
		<nav>
			<ul>
				<li><a href="index.html">Main</a></li>
				<li><a href="#" class="current">Factions</a></li>
				<li><a href="deputies.html">Deputies</a></li>
			</ul>
		</nav>
		<h1><b>Фракция НАЗВАНИЕ</b></h1>
	</header>
	<div class="info">
		<div>Средние показатели: явка/за/против/воздержался</div>
		<div>Уровень оппозиционности</div>
		<div>Cписок депутатов</div>
		<div>Самый оппозиционный депутат партии, самый нерешительный</div>
		<div>Самый малопосещающий депутат партии, самый многопосещающий</div>
		<div>Максимальные показатели среди партии: явка/за/против/воздержался со спойлером с названием голосования</div>
	</div>
</body>
</html>