<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GosDuma</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="style/style.css">
  <style>
  .fig{
  text-align: center;
  }
  </style>
</head>
<body bgcolor="#e8fbff">
	<header>
		<nav>
			<ul>
				<li><a href="#" class="current">Main</a></li>
				<li><a href="factions.html">Factions</a></li>
				<li><a href="deputies.html">Deputies</a></li>
			</ul>
		</nav>
		<h1>Главная страница</h1>
	</header>
<div class="text">
	<p style="text-indent: 25px;">На данном интернет-ресурсе вы можете узнать о работе Государственной Думы 6 созыва.</p><p style="text-indent: 25px;">Здесь вы найдете информацию о законопроектах, рассмотренных ГД, о работе каждой из фракций, а так же средние показания голосований каждого из депутатов.</p>
</div>
<p class="fig"><img src="images/Russia.png" alt="Карта Российской Федерации"></p>
<p align="right"><font size ="+2">Над проектом работали студенты</font></p>
<p align="right"><font size ="+2">Факультета ПМ-ПУ, СпбГУ</font></p>
<p align="right"><font size ="+2">Осенний семестр 2016 года</font></p>
</body>
</html>